<div id="listing-edit">
    <h1>Edit Listing</h1>

    <%= render 'shared/form', listing: @listing %>

    <%= link_to 'Back to Listing', @listing %> |
    <%= link_to 'Back to Home', listings_path %>

</div>