<!-- Nav bar & hero image inherited from application.html.erb -->

<div class="main" id="listing-new">

<!-- Header -->
    <header>
        <h1>New Listing</h1>
    </header>
    
<!-- Main section: Create a new listing - partial form for new form & edit form -->  
    <section class="session-listing">  
<!-- Created -->
        <div><%= render 'form', listing: @listing %></div>
    </section>

<!-- Footer -->
   <%= render "shared/footer" %>
</div>