<footer id="footer">
<!--Footer: Social Icons -->
    <div class="social_icons">
        <ul>
            <li><a href="mailto:abm@gmail.com" target="_top" class="far fa-envelope" title="Email"><span class="label"></span></a></li>
            <li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-square" title="Facebook"><span class="label"></span></a></li>
            <li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter-square" title="Twitter"><span class="label" ></span></a></li>
            <li><a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram" title="Instagram"><span class="label" ></span></a></li>
        </ul>
    </div>
<!--Footer: Copyright -->
    <div class="copyright">
        <p>Copyright © 2019 Aussie Beauty Market. All Rights Reserved.</p>
    </div>
</footer>