<div id="home">
    <h1>This is my landing page</h1>
    <!-- Simple search button -->
    <%= render "listings/simple_search", listing: @listing %>

    <div class="div1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit consectetur assumenda obcaecati asperiores quae aut vero! </div>
    <div class="div2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit consectetur assumenda obcaecati asperiores quae aut vero! </div>
    <div class="div3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit consectetur assumenda obcaecati asperiores quae aut vero! </div>
    <div class="div4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit consectetur assumenda obcaecati asperiores quae aut vero! </div>
    <div class="div5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit consectetur assumenda obcaecati asperiores quae aut vero! </div>
</div>
