<!-- Nav bar & hero image inherited from application.html.erb -->

<div class="main" id="home">


<!-- Search: simple &  advanced -->
    <div class="search-container">
        <%= render partial: "listings/simple_search", listing: @listing, locals: { myclass: "simple-search" } %>
        <div class="advanced-search"><%= button_to "Advanced Search", new_search_path, method: :get %></div>
    </div>


<!-- Header -->
    <header class="header-home">
        <h1>What is ABM?</h1>
        <p>Aussie Beauty Market (ABM) is a two-sided marketplace that allows people to buy and sell second-hand makeups in Australia.</p>
    </header>

<!-- Main section -->
    <section>
        <div class="div-one">
       <img src="https://bit.ly/2oHxb1F" />
            <h2>Find</h2>
            <p>
               You can find the makeup you like via search or advanced search (search for brand, price range and category).
            </p>
        </div>
        <div class="div-two">
            <img src="https://bit.ly/2oHxb1F" />
            <h2>Ask</h2>
            <p>
              Before you purchase a makeup, you can ask questions regarding the listing or check the existed Q & A of the listing.
            </p>
        </div>

        <div class="div-three">
            <img src="https://bit.ly/2oHxb1F" />
            <h2>Buy</h2>
            <p>
                Once you make your decision, ABM provides a simple one-click buy button to smooth the purchase process.
            </p>
        </div>
    </section>


<!-- Footer -->
   <%= render "shared/footer" %>

</div>

