<!-- Nav bar & hero image inherited from application.html.erb -->

<div class="main" id="payment-success">
    <p>Congratulations! You've successfully made a purchase!</p>
    <%= link_to "Keep shopping makeups", listings_path %>
</div>
