@import "general";

#footer {
    display: flex;
    flex-direction: column;

// footer: social icon bar
    text-align: center;
    width: 100%;
    background-color: $dark-maple;

    .social-icons {
        list-style-type: none;
        padding: 0;
    }

    ul {
        margin: 0;
        padding-left: 10px;
        li {
            display: inline;
            a {
                padding: 10px;
                transition: all 0.3s ease;
                color: $light;
        
                &:hover {
                    background-color: $orange-yellow;
                    color: $dark-brown;
                }
            }
        }
    }
    
// footer: copyright 
    .copyright {
        color: $light;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 900px) {
    #footer {
        flex-direction: row;
        justify-content: space-between;
        
        .copyright p {
        padding-right: 10px;
        }
    }
  }