@import "general";
// Navigation bar

//nav-bar container
#nav-bar {
    overflow: hidden;
    background-color: $orange-red;
    color: $light;
    top: 0;
    margin: 0;
    padding: 0;

//Menu inside nav-bar
    .nav-link {
      float: left;
      font-size: 16px;
      color: $light;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  }
  
  #nav-bar label {
    color: $light;
    font-size: 16px;
    display: block;
    cursor: pointer;
    background: url(makeup.png) no-repeat left center;
    padding: 10px 0 10px 50px;
  }
  
  .menu-content {
    max-height: 0;
    overflow: hidden;
  }
  
  input:checked ~ label {
    background-image: url(close.png);
  }
  
  input:checked ~ .menu-content {
    max-height: 100%;
  }




  input#menu {
    display: none;
  }





  
  //Dropdown container
  .dropdown {
    float: right;
    overflow: hidden;

  //Dropdown buttons
    .dropdown-button {
      font-size: 16px;
      border: none;
      outline: none;
      color: $light;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit; //Important for vertical align on mobile phones
      margin: 0; //Important for vertical align on mobile phones
    }
  }
  
  
  //Add background color to nav-bar links on hover
  #nav-bar .nav-link:hover, .dropdown:hover .dropdown-button {
    background-color: $orange-yellow;
    color: $dark-brown;
    font-weight: bold;
  }
  
  //Dropdown content (hidden by default)
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $dark-maple;
    min-width: 160px;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  //Show the dropdown menu on hover
  .dropdown:hover .dropdown-content {
    display: block;
  }

@media only screen and (min-width: 600px) {
  #nav-bar {
      .menu-content {
        max-height: 100%;
    }

      label {
        display: none;
      }
    }

}