// Stylesheet for all the general styling
@import "variables";

// Basic HTML tags: H1..H5, p, span (for all text in bold)
h1, h2{
    text-align: center;
    font-family: "Roboto", sans-serif;
}

// Decide whether only wanna use it for find makeup
.hero h1 {
    font-family: 'Gochi Hand', sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    // [linebreaker]
    // line-height: 2;
    // white-space: pre-line; 
}

span {
    font-weight: bold;
}

.noitce {
    text-align: center;
}

.alert {
    text-align: center;
}



//All Images here


//Hero, decide if all pages have hero
.hero {
    background-image: url(image-path("hero.jpg"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
    display: none; 
    }
.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: -1;
    }
.hero h1 {
    color: $light;
    font-size: 100px;
    text-align: center;
    padding-top: 60px;
    margin: 0;
    }


//Header
header {
    padding-left: 90px;
    padding-right: 90px;
    }



//Section
section {
    // background-color: $orange-yellow;
    // Decide when to turn to section colour
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    margin: auto;

        div {
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 30px;
        }
        .div-one {
          padding-top: 40px;
        }
    }



//Search container (simple & advanced search)
.search-container {
    text-align: center;

    .simple-search {
        // position: relative;
        // top: 10px;
        // margin-top: 20px;
        // display: inline-block;
        color: black;
    }

    .advanced-search {
        margin-top: 20px;
        display: inline-block;
    }


}

//payment success page
#payment-success {
    text-align: center;
}



//Mediq query breakpoints
@media only screen and (min-width: 600px) {
    section {
        flex-direction: row;
    }

    section div {
        padding: 10px;
        padding-bottom: 30px;
        width: calc(50% - 20px);
    }

    .div-one, .div-two {
      padding-top: 40px;
    }
    .hero {
        display: block;
    }
  }
  @media only screen and (min-width: 900px) {
    section div {
        padding: 30px 10px;
        width: calc(33% - 20px);
    }
    header {
        padding: 10px 50px;
      }
  }

