// Stylesheet for all the general styling
@import "variables";

h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

p {
    font-family: "Source Sans Pro", sans-serif;
    // [linebreaker]
    // line-height: 2;
    // white-space: pre-line; 
}

// for all the text in bold
span {
    font-weight: bold;
}


.search {
    text-align: center;
}





