@import "general";

#listings_controller {
// Generic styling for all the sections in view/listings
   .session-listing {
        display: flex;
        flex-direction: column;
        justify-content: left;
        
        div {
            padding: 20px;
            
        }
        .field {
            display: flex;
            flex-direction: column;
        }
        label {
            padding-bottom: 10px;
            width: 130px;
        }
    }

    @media only screen and (min-width: 600px) {
// Generic media query breakpoints (tablet) for all the sections in view/listings
        .session-listing {
            .field {
                flex-direction: row;
            }
        }
        .session-listing div {
            padding: 20px 40px;
            width: 100%;

            .actions {
                padding: 20px 60px; 
            }
            label {
                padding:0 20px;
                padding-bottom: 5px;
            }
        }
    }

    @media only screen and (min-width: 900px) {
// Generic media query breakpoints (desktop) for all the sections in view/listings
    header {
        padding: 10px 50px;
        }
    }
}