@import "general";

#listings_controller {
   #session-listing-new {
        justify-content: left;
        div {
            padding: 20px;
        }
        .field {
            display: flex;
            flex-direction: column;
        }
    }
}