@import "general";

#pages_controller {
    h2 {
      font-family: 'Gochi Hand';
    }
    
    header {
      text-align: left;  
      }
  
      header h1 {
        text-align: left;  
      }
  

// Only images in landing
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      }



}



