@import "general";

#pages_controller {
  // background-color: $orange-yellow;
    h2 {
      font-family: 'Gochi Hand';
    }

    header, h1 {
      text-align: left;
    }
    
    header {
    padding-left: 90px;
    padding-right: 90px;
    }

    .hero {
        background-image: url("hero.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 200px;
        position: relative;
        z-index: 1;
        margin-bottom: 40px;
        display: none;
      }
      .hero .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: 0.4;
        z-index: -1;
      }
      .hero h1 {
        color: $light;
        font-size: 100px;
        text-align: center;
        padding-top: 60px;
        margin: 0;
      }

    img {
        // width: 100%;
        width: 250px;
        height: 250px;
    }

    section {
    display: flex;
    background-color: $orange-yellow;
    // border-radius: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    margin: auto;

        div {
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 30px;
        }
        .div-one {
          padding-top: 40px;
        }
    }

  //  .div-one {
  //    background-image: url("div_1.jpg");
  //  }


    @media only screen and (min-width: 600px) {
        section {
            flex-direction: row;
        }

        section div {
            padding: 10px;
            padding-bottom: 30px;
            width: calc(50% - 20px);
        }

        .div-one, .div-two {
          padding-top: 40px;
        }
        .hero {
            display: block;
        }
      }
      @media only screen and (min-width: 900px) {
        section div {
            padding: 10px;
            padding-top: 50px;
            padding-bottom: 30px;
            width: calc(33% - 20px);
        }
        header {
          text-align: centre;
          }
      }
}



